@model Adform.Academy.DataTransfer.Web.Models.UserItemModel
@{
    ViewBag.Title = (Model.UserId != 0 ? "Edit User" : "Add User");
}
<div class="bCenter">
    <div class="round bTitle">
        @ViewBag.Title
    </div>
    <div class="round bFull" id="right-panel">
        <div class="bCenter" style="margin: auto; text-align: center">
            @using (Html.BeginForm("Save", "Users", FormMethod.Post, new { id = "save-form" }))
            {   
                if (!ViewData.ModelState.IsValid)
                {
                    <div class="bErr" style="display: inline-block">@Html.ValidationMessage("ErrorSummary")</div>
                }
                 
                <div>
                    @Html.LabelFor(x => x.UserName)<br />
                    @Html.EditorFor(x => x.UserName)
                    <div class="bValidationFloat">@Html.ValidationMessageFor(x => x.UserName)</div>
                </div>

                <div>
                    @Html.LabelFor(x => x.Password) @(Model.UserId != 0 ? Html.Raw("<b>*</b>") : Html.Raw(""))<br />
                    @Html.PasswordFor(x => x.Password)
                    <div class="bValidationFloat" id="PasswordValidation">@Html.ValidationMessageFor(x => x.Password)</div>
                    @if (Model.UserId != 0)
                    {
                        <script>
                            $("#Password").attr("data-val", "false");
                            $("#Password").removeClass("input-validation-error");
                            $("#PasswordValidation").css("display","none");
                        </script>
                    }
                </div>
                
                <div style="display: inline-block">
                    <table class="noborder">
                        <tr>
                            <td>
                                @Html.LabelFor(x => x.IsAdmin)
                            </td>
                            <td>
                                @Html.CheckBoxFor(x => x.IsAdmin)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(x => x.IsActive)
                            </td>
                            <td>
                                @Html.CheckBoxFor(x => x.IsActive)
                            </td>
                        </tr>
                    </table>
                </div>
                @Html.HiddenFor(x => x.UserId)
                <br /><br />
                <div style="text-align: right; padding-right: 15px">@(Model.UserId != 0 ? Html.Raw("<b>*</b> Leave password field blank to keep current user password") : Html.Raw(""))</div>
            }
        </div>
    </div>
    <div class="round bFull" id="bottom-panel">
        <div style="float: left">
            <button id="back-button" type="button" onclick="history.go(-1)">Back</button>
        </div>
        <div style="float: right;">
            <button id="save-button" onclick="$('#save-form').submit()">Save</button>
        </div>
        <div class="bClear"></div>
    </div>

    @Html.Partial("ErrorPane")
</div>