@model Adform.Academy.DataTransfer.Web.Models.DatabaseListModel
@{
    ViewBag.Title = "Databases";
    ViewBag.MenuItem = "databases";
}
<script src="@Url.Content("~/Scripts/Project/Databases.js")" type="text/javascript"></script>
<div class="bCenter">
    <div class="round bTitle">
        @ViewBag.Title
    </div>
    <div class="round bLeft" id="left-panel">
        @RenderPage("~/Views/Shared/MenuItems.cshtml")
    </div>
    <div class="round bRight" id="right-panel">
    @for (int x = 0; x < Model.DatabasesList.Count; x++)
{
    var d = Model.DatabasesList[x];
    <div onclick="ItemClick(@d.DatabaseId)" class="menu-item-highlight" id="itemlist-group-@d.DatabaseId">
        <div id="itemlist-name-@d.DatabaseId" style="float: left">@d.ConnectionName</div>
        <div class="bClear"></div>
    </div>
    if (x + 1 != Model.DatabasesList.Count)
    {
            <hr />
        }
    }

    </div>
    <div class="round bFull" id="bottom-panel">
        <div style="float: left">
            <button id="new-button" onclick="document.location.assign('@Url.Action("Create")')">New Database</button>
        </div>
        <div style="float: right; display: none" id="selected-item-controls">
            <button id="edit-button" onclick="document.location.assign('@Url.Action("Edit")/' + window.SelectedItemId)">Edit</button>
            <button id="delete-button" onclick="DeleteClick()">Delete</button>
        </div>
        <div class="bClear"></div>
    </div>

    @Html.Partial("ErrorPane")
</div>