@model Adform.Academy.DataTransfer.Web.Models.ProjectEditorModel
@{
    ViewBag.Title = "Review project settings";
}

<div class="bCenter">
    <div class="round bTitle">
        @ViewBag.Title
    </div>
    <div class="round bFull" id="right-panel">
        @Html.Partial("ReviewFiltersFrame", Model)
    </div>
    <div class="round bFull" id="bottom-panel">
        <div style="float: left">
            <button id="back-button" type="button" onclick="history.go(-1)">Back</button>
        </div>
        <div style="float: right;">
            <button id="next-button" type="button" onclick="$('#modelstate-form').submit()">Save</button>
        </div>
        <div class="bClear"></div>
    </div>

    @Html.Partial("ErrorPane")
</div>

@using (Html.BeginForm("Save", "ProjectEditor", FormMethod.Post, new { id = "modelstate-form" }))
{
    @Html.HiddenFor(x => x.ProjectId)
    @Html.HiddenFor(x => x.ProjectName)
    @Html.HiddenFor(x => x.SourceDatabaseId)
    @Html.HiddenFor(x => x.DestinationDatabaseId)

    @Html.HiddenFor(x => x.FiltersJson)
}