@using Adform.Academy.DataTransfer.Web.Tools.Authentication
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Media/Blue.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-2.1.0.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Shared/MenuHighlighter.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Shared/ErrorModule.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Shared/PostCommand.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Shared/ItemList.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/moment.js")" type="text/javascript"></script>
        
        <script>
            @{
                int activeUserId = -1;
                bool isAdmin = false;
                var identity = User.Identity as DataTransferUserIdentity;
                if (identity != null)
                {
                    activeUserId = identity.UserId;
                    isAdmin = User.IsInRole("admin");
                }
            }
            window.ActiveUserId = '@activeUserId';
            window.RootUrl = '@Url.Content("~/")';
            window.ActiveUserIsAdmin = @(isAdmin ? "true" : "false");
        </script>
    </head>
<body>
    @RenderBody()
</body>
</html>
